@import 'bulma.min.scss';

html {
    background-color: #f4f4f4;
}

.site-title {
    padding: 0 20px;
    align-self: center;
}

.doctable-title-col {
    min-width: 250px;
}

.doc {
    margin-top: 2rem;
}

.doc-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    min-height: 3em;

    .title {
        margin-bottom: 0;
    }

    .title + .button {
        margin-left: 20px;
    }

    form {
        width: 100%;
    }
}

.doc-name-input {
    @media (min-width: 900px) {
        width: 50%;
    }
}

.doc-description {
    width: 100%;
    height: 500px;
}

.tags, .access-tags {
    margin-top: 1em;
}

.access-list {
    label {
        border-top: 1px solid #f4f4f4;
        padding: 10px;
    }
}