@import 'bulma.min.scss';

html {
    background-color: #f4f4f4;
}

.site-title {
    padding: 0 20px;
    align-self: center;
}

.doctable-title-col {
    min-width: 250px;
}

.doc {
    margin-top: 2rem;
}

.doc-description {
    width: 100%;
    height: 500px;
}

.has-addons {
    flex-wrap: wrap;

    .label {
        width: 100%;
    }
}